{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "chai-expect"
  ],
  "rules": {
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "no-console": "off",
    "padded-blocks": "off",
    "max-len": ["error", 120, { "ignoreStrings": true }],
    "func-names": "off",
    "arrow-body-style": ["off", "as-needed"]
  }

}
